* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  background-color: white;
}

.nav-elements {
  display: flex;
  gap: 90px;
  font-size: 20px;
  margin-right:100px;
}

.container {
  padding: 18px;
  margin-left: 125px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}

#hero{

  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/spacex-OHOU-5UVIYQ-unsplash.jpg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  height:740px;
   padding-top: 140px;
   padding-bottom: 140px;
}
#hero div{
padding:130px;
margin-left: 30px;
color: white;

}
#hero h3{
  font-size: 70px;
  margin-bottom: 20px;
  font-weight:normal;
  line-height: normal;
  width: 50vw;
}
#hero p{
  font-size: 1.875rem;
  margin-bottom: 20px;
  line-height: normal;
  font-weight: 300px;
  letter-spacing: 1px;
}
#hero button{
  padding: 10px 50px;
  font-size: 30px;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
}
.title-text{
  padding: 50px;
  margin: 50px;
  text-align: center;
  font-size: 1.8rem;
font-weight: bold;
}
#cards{
  display: flex;
  justify-content: center;

}
#lego, #nasa{
  display: flex;
  flex-direction: column;
 align-items: center;
  margin: -18px;
  
}
#lego{
  margin-right: 20px;
  margin-left: -20px;
}
#nasa{
  margin-left: 20px;
}
.lego-image img{
    height:350px;
width: 500px;
object-fit: cover;
}
.nasa-image img{
  height:350px;
width: 500px;
object-fit: cover;
}
 .lego-text{
   border: 1px solid rgb(128, 128, 128, 0.341);
  width: 500px;
  text-align: center;
  padding: 35px;
}
.lego-text> h2{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.lego-text> p{
  letter-spacing: 1px;
  font-size: 25px;
  margin-top: 10px;
}
.lego-text button{
  border: 0px hidden black;
  background-color: white;
  color: #814ebf;
  font-size: 25px;
  margin-top: 25px;
}

.nasa-text{
  border: 1px solid rgba(128, 128, 128, 0.341);
  width: 500px;
  text-align: center;
  padding: 35px;
}
.nasa-text> h2{
   font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.nasa-text>p{
    letter-spacing: 1px;
  font-size: 25px;
  margin-top: 10px;
}
.nasa-text button{
   border: 0px hidden black;
  background-color: white;
  color: #814ebf;
  font-size: 25px;
  margin-top: 25px;
}
#landing{
  width: 90%;
  position: relative;
  
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 50px;
}

.landing-image img {
max-width: 55%;
  max-height: auto;
  object-fit: contain;
  cursor: pointer;
}
.landing-text{
  position: absolute;
 top: 330px;
 right: 360px;
  background-color: #212020;
  background-image: radial-gradient(circle, #232323 1px, transparent 5px);
  background-size: 20px 20px;
  padding: 50px;
  max-width: 500px;
  height: auto;
 
  
}
.landing-text h3{
  color: white;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bolder;
  
}
.landing-text p{
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 40px;
}
.landing-text button{
  padding: 15px 50px;
  border: none;
  margin-top: 40px;
  background-color: white;
  font-size: 30px;
}
#clean{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
    height: 700px;   /*so that the images of clean and gas do not overlap. working in tandem with the margin top of gas */
  margin-top: 190px;
  margin-right: 150px;
 
}

.clean-image img {
max-width: 55%;
  max-height: auto;
  object-fit: contain;
  cursor: pointer;
  position: absolute;
  right: 70px;
  
}
.clean-text{
  position: absolute;
 top: 360px;
 left: 250px;
  background-color: #212020;
  background-image: radial-gradient(circle, #232323 1px, transparent 5px);
  background-size: 20px 20px;
  padding: 50px;
  max-width: 490px;
  height: 300;
 
  
}
.clean-text h3{
  color: white;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bolder;
  
}
.clean-text p{
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 40px;
}
.clean-text button{
  padding: 15px 50px;
  border: none;
  margin-top: 40px;
  background-color: white;
  font-size: 30px;
}
#gas{
  width: 90%;
  position: relative;
 
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-left: 50px;
  min-height: 700px;
}

.gas-image img {
max-width: 55%;
  max-height: auto;
  object-fit: contain;
  cursor: pointer;
}
.gas-text{
  position: absolute;
 top: 330px;
 right: 360px;
  background-color: #212020;
  background-image: radial-gradient(circle, #232323 1px, transparent 5px);
  background-size: 20px 20px;
  padding: 50px;
  max-width: 500px;
  height: auto;
 
  
}
.gas-text h3{
  color: white;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bolder;
  
}
.gas-text p{
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 40px;
}
.gas-text button{
  padding: 15px 50px;
  border: none;
  margin-top: 40px;
  background-color: white;
  font-size: 30px;
}
.skynet{
  margin: 100px 0px;
  text-align: center;
}
.skynet h3{
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
}
.skynet button{
  padding: 18px 50px;
  border: none;
  border-color: #814ebf;
  background-color: #814ebf;
color: white;
font-size: 20px;
margin-top: 30px;
}
.space{
  text-align: center;
  margin-bottom: 70px;
}
.space h1{
  max-width:770px ;
  font-size: 40px;
  font-style: italic;
letter-spacing: 1px;
font-weight: bolder; 
margin-left: auto;
margin-right: auto;
}
.space h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}
.end{
  background-color:#814EBF;
  padding: 100px;
}
.end button{
  position: relative;
  right: 0;
}